{% extends "../layout.html" %}
{% block content %}
<div lass="content-section">
    <div class="row mx-auto justify-content-center">
 
        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Unique Number</h5>
                <div style="font-size: 30px;" class="text-center">
                    <span><i class="fa fa-key"></i></span>
                </div>
                <h3 class="text-center">{{ inventory.Unique_Number  }}</h3>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Product Name</h5>
                <div style="font-size: 30px;" class="text-center">
                    <span><i class="fab fa-product-hunt"></i></span>
                </div>
                <h3 class="text-center">{{ inventory.Product_Name  }}</h3>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Product Type</h5>
                <div style="font-size: 30px;" class="text-center">
                    <span><i class="fab fa-product-hunt"></i></span>
                </div>
                <h3 class="text-center">{{ inventory.Product_Type  }}</h3>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Cost</h5>
                <div style="font-size: 30px;" class="text-center">
                    <span>&#8378;</span>
                </div>
                <h3 class="text-center">{{ inventory.Cost  }}</h3>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Stock</h5>
                <div style="font-size: 30px;" class="text-center">
                    <span><i class="fas fa-warehouse "></i></span>
                </div>
                <h3 class="text-center">{{ inventory.Stock  }}</h3>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Stock Date</h5>
                <div style="font-size: 30px;" class="text-center">
                    <span><i class="fas fa-calendar-alt"></i></span>
                </div>
                <h3 class="text-center">{{ inventory.Stock_Date  }}</h3>
            </div>
        </div>

    </div>
</div>
{% endblock %}